---
import Test from "../components/Test.svelte";
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <Test content="<p>Testing, testing!</p>" client:load />
    </body>
</html>
